# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore folders
/DRCT 

# Ignore virtual environment
/virtualEnv/
/venv311/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore temporary files
*.tmp
*.swp
*.bak